## Import Python Packages and Dataset

In [33]:
import pandas as pd
import numpy as np

### Transform Dataset from .data to .csv & clean data if necessary

In [34]:
pre_df = pd.read_csv("drug_consumption.data")
pre_df.head(10)

,1,0.49788,0.48246,-0.05921,0.96082,0.12600,0.31287,-0.57545,-0.58331,-0.91699,...,CL0.4,CL0.5,CL0.6,CL0.7,CL0.8,CL0.9,CL0.10,CL2.2,CL0.11,CL0.12
0,2,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
1,3,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
2,4,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
3,5,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0
4,6,2.59171,0.48246,-1.22751,0.24923,-0.31685,-0.67825,-0.30033,-1.55521,2.03972,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL6,CL0,CL0
5,7,1.09449,-0.48246,1.16365,-0.57009,-0.31685,-0.46725,-1.09207,-0.45174,-0.30172,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL6,CL0,CL0
6,8,0.49788,-0.48246,-1.73790,0.96082,-0.31685,-1.32828,1.93886,-0.84732,-0.30172,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0
7,9,0.49788,0.48246,-0.05921,0.24923,-0.31685,0.62967,2.57309,-0.97631,0.76096,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL6,CL0,CL0
8,10,1.82213,-0.48246,1.16365,0.96082,-0.31685,-0.24649,0.00332,-1.42424,0.59042,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL6,CL0,CL0
9,11,-0.07854,0.48246,0.45468,0.96082,-0.31685,-1.05308,0.80523,-1.11902,-0.76096,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL2,CL0,CL1

In [35]:
column_head = ["ID","Age","Gender","Education","Country","Ethnicity","NScore","EScore","OScore","AScore","CScore","Impulsive","SS","Alcohol","Amphet","Amyl","Benzos","Caff","Canab","Choc","Coke","Crack","Ecstasy","Heroin","Ket","LegalH","LSD","Meth","Mushroom","Nicotine","Semer","VSA"]
row_1 = pre_df.columns.to_list()
#column head is the first row therefore append column head to first row of dataset
nrow_1 = []
for i in row_1:
    if "C" not in i:
        nrow_1.append(float(i))
    else:
        nrow_1.append(i)
# Add nrow_1 into df
pre_df.loc[-1] = nrow_1
pre_df.index = pre_df.index + 1
#Replace column headers
pre_df.columns = column_head
#Sort values by ID
post_df = pre_df.sort_values(by="ID")
post_df.head(5)

,ID,Age,Gender,Education,Country,Ethnicity,NScore,EScore,OScore,AScore,...,Ecstasy,Heroin,Ket,LegalH,LSD,Meth,Mushroom,Nicotine,Semer,VSA
0,1.0,0.49788,0.48246,-0.05921,0.96082,0.12600,0.31287,-0.57545,-0.58331,-0.91699,...,CL0.4,CL0.5,CL0.6,CL0.7,CL0.8,CL0.9,CL0.10,CL2.2,CL0.11,CL0.12
1,2.0,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
2,3.0,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
3,4.0,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
4,5.0,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0

In [36]:
# First row has invalid class values e.g. CL0.4, CL0.9 etc therefore remove it from dataset
post_df = post_df.iloc[1:,:]
post_df.head(5)

,ID,Age,Gender,Education,Country,Ethnicity,NScore,EScore,OScore,AScore,...,Ecstasy,Heroin,Ket,LegalH,LSD,Meth,Mushroom,Nicotine,Semer,VSA
1,2.0,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
2,3.0,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
3,4.0,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
4,5.0,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0
5,6.0,2.59171,0.48246,-1.22751,0.24923,-0.31685,-0.67825,-0.30033,-1.55521,2.03972,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL6,CL0,CL0

In [37]:
# Check if any NAs are present in the dataset
post_df.isna().sum()

ID           0
Age          0
Gender       0
Education    0
Country      0
Ethnicity    0
NScore       0
EScore       0
OScore       0
AScore       0
CScore       0
Impulsive    0
SS           0
Alcohol      0
Amphet       0
Amyl         0
Benzos       0
Caff         0
Canab        0
Choc         0
Coke         0
Crack        0
Ecstasy      0
Heroin       0
Ket          0
LegalH       0
LSD          0
Meth         0
Mushroom     0
Nicotine     0
Semer        0
VSA          0
dtype: int64

In [38]:
# Save processed dataset as a .csv
post_df.to_csv("drug_consumption.csv",index=False)
df = pd.read_csv("drug_consumption.csv",index_col=["ID"])
df.head()

,Age,Gender,Education,Country,Ethnicity,NScore,EScore,OScore,AScore,CScore,...,Ecstasy,Heroin,Ket,LegalH,LSD,Meth,Mushroom,Nicotine,Semer,VSA
ID,,,,,,,,,,,,,,,,,,,,,
2.0,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,-0.14277,...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
3.0,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
4.0,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,0.58489,...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
5.0,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,1.30612,...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0
6.0,2.59171,0.48246,-1.22751,0.24923,-0.31685,-0.67825,-0.30033,-1.55521,2.03972,1.63088,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL6,CL0,CL0

## Group Drugs into based on CNS  Effect Classification
* Depressants: Benzos, Heroin, Methadone, Amyl Nitrate
* Stimulants: Amphetamines, Ecstasy, Cocaine, Crack
* Psychedelics: Mushrooms, LSD, Ketamine
* Excluded: Alcohol, Cannabis, Caffeine, Nicotine, Chocolate, Legal Highs, Volatile Substance Abuse
* Legal Highs and Volatile substance abuse were removed as they do not fall under either category
* Cannabis, Caffeine,Alcohol and Chocolate are commonly consumed drugs therefore including them in the different drug categories would result in a high degree of overlap between the drug categories

Higher frequency usage is a good indication of drug preferences.
* Users: CL4,CL5,CL6
* Non-Users: CL0,CL1,CL2,CL3

#### Depressants

In [39]:
user = ["CL4","CL5","CL6"]
non = ["CL0","CL1","CL2","CL3"]
depress = []
for am,amy,benz,co,cr,ec,he,k,lh,ls,met,mush,vs in zip(df["Amphet"],df["Amyl"],df["Benzos"],df["Coke"],df["Crack"],df["Ecstasy"],df["Heroin"],df["Ket"],df["LegalH"],df["LSD"],df["Meth"],df["Mushroom"],df["VSA"]):
    if any([benz in user,he in user, met in user, amy in user]) & all([am in non, ec in non, co in non,cr in non,ls in non,k in non,mush in non]):
        depress.append(1)
    else:
        depress.append(0)
sum(depress)

161

#### Stimulants

In [40]:
user = ["CL4","CL5","CL6"]
non = ["CL0","CL1","CL2","CL3"]
stim = []
for am,amy,benz,co,cr,ec,he,k,lh,ls,met,mush,vs in zip(df["Amphet"],df["Amyl"],df["Benzos"],df["Coke"],df["Crack"],df["Ecstasy"],df["Heroin"],df["Ket"],df["LegalH"],df["LSD"],df["Meth"],df["Mushroom"],df["VSA"]):
    if any([am in user, ec in user, co in user,cr in user]) & all([benz in non,he in non, met in non, amy in non,ls in non,k in non,mush in non]):
        stim.append(1)
    else:
        stim.append(0)
sum(stim)

148

#### Hallucinogens

In [41]:
user = ["CL4","CL5","CL6"]
non = ["CL0","CL1","CL2","CL3"]
hallu = []
for am,amy,benz,co,cr,ec,he,k,lh,ls,met,mush,vs in zip(df["Amphet"],df["Amyl"],df["Benzos"],df["Coke"],df["Crack"],df["Ecstasy"],df["Heroin"],df["Ket"],df["LegalH"],df["LSD"],df["Meth"],df["Mushroom"],df["VSA"]):
    if any([ls in user, mush in user, k in user]) & all([benz in non,he in non, met in non, amy in non,am in non, ec in non, co in non,cr in non]):
        hallu.append(1)
    else:
        hallu.append(0)

sum(hallu)

93

#### Calculate similarity between each category
* Use Jaccard Index i.e. Intersection Over Union , higher score = higher overlap

In [42]:
from sklearn.metrics import jaccard_score as js
print(f"Hallu+Depressants:{js(hallu,depress)}")
print(f"Hallu+Stimulants:{js(hallu,stim)}")
print(f"Stimulants+Depressants:{js(stim,depress)}")

Hallu+Depressants:0.0
Hallu+Stimulants:0.0
Stimulants+Depressants:0.0

In [43]:
df["Depress"] = depress
df["Stim"] = stim
df["Hallu"] = hallu
df.head()

,Age,Gender,Education,Country,Ethnicity,NScore,EScore,OScore,AScore,CScore,...,LegalH,LSD,Meth,Mushroom,Nicotine,Semer,VSA,Depress,Stim,Hallu
ID,,,,,,,,,,,,,,,,,,,,,
2.0,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,-0.14277,...,CL0,CL2,CL3,CL0,CL4,CL0,CL0,0,1,0
3.0,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,...,CL0,CL0,CL0,CL1,CL0,CL0,CL0,0,0,0
4.0,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,0.58489,...,CL0,CL0,CL0,CL0,CL2,CL0,CL0,0,0,0
5.0,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,1.30612,...,CL1,CL0,CL0,CL2,CL2,CL0,CL0,0,0,0
6.0,2.59171,0.48246,-1.22751,0.24923,-0.31685,-0.67825,-0.30033,-1.55521,2.03972,1.63088,...,CL0,CL0,CL0,CL0,CL6,CL0,CL0,0,0,0

## Seperate Dataset into Overall Drug User/ Non-Users
* Month based user: CL4,CL5,CL6
* Week based User: CL5,CL6
* Day based User:

#### Monthly Users

In [44]:
user = ["CL4","CL5","CL6"]
non = ["CL0","CL1","CL2","CL3"]
month_u = []
for am,amy,benz,co,cr,ec,he,k,lh,ls,met,mush,vs in zip(df["Amphet"],df["Amyl"],df["Benzos"],df["Coke"],df["Crack"],df["Ecstasy"],df["Heroin"],df["Ket"],df["LegalH"],df["LSD"],df["Meth"],df["Mushroom"],df["VSA"]):
    if any([benz in user,he in user, met in user, amy in user,am in user, ec in user, co in user,cr in user,ls in user, mush in user, k in user]):
        month_u.append(1)
    else:
        month_u.append(0)
sum(month_u)

728

#### Weekly Users

In [45]:
user = ["CL5","CL6"]
non = ["CL0","CL1","CL2","CL3","CL4"]
week_u = []
for am,amy,benz,co,cr,ec,he,k,lh,ls,met,mush,vs in zip(df["Amphet"],df["Amyl"],df["Benzos"],df["Coke"],df["Crack"],df["Ecstasy"],df["Heroin"],df["Ket"],df["LegalH"],df["LSD"],df["Meth"],df["Mushroom"],df["VSA"]):
    if any([benz in user,he in user, met in user, amy in user,am in user, ec in user, co in user,cr in user,ls in user, mush in user, k in user]):
        week_u.append(1)
    else:
        week_u.append(0)
sum(week_u)

490

#### Daily Users

In [46]:
user = ["CL6"]
non = ["CL0","CL1","CL2","CL3","CL4"]
day_u = []
for am,amy,benz,co,cr,ec,he,k,lh,ls,met,mush,vs in zip(df["Amphet"],df["Amyl"],df["Benzos"],df["Coke"],df["Crack"],df["Ecstasy"],df["Heroin"],df["Ket"],df["LegalH"],df["LSD"],df["Meth"],df["Mushroom"],df["VSA"]):
    if any([benz in user,he in user, met in user, amy in user,am in user, ec in user, co in user,cr in user,ls in user, mush in user, k in user]):
        day_u.append(1)
    else:
        day_u.append(0)
sum(day_u)

266

In [47]:
print(f"Monthly+Weekly:{js(month_u,week_u)}")
print(f"Monthly+Daily:{js(month_u,day_u)}")
print(f"Daily+Weekly:{js(day_u,week_u)}")

Monthly+Weekly:0.6730769230769231
Monthly+Daily:0.36538461538461536
Daily+Weekly:0.5428571428571428

High degree of overlap is observed between all categories. As we are trying to determine how users frequency of drug use changes based on their psychological profile, overlaps should not affect our analysis greatly.
* Use monthly users result as a baseline
* compare weekly results to monthly - new baseline for daily
* compare daily results to weekly

In [48]:
df["monthly_u"] = month_u
df["weekly_u"] = week_u
df["daily_u"] = day_u
df.head()

,Age,Gender,Education,Country,Ethnicity,NScore,EScore,OScore,AScore,CScore,...,Mushroom,Nicotine,Semer,VSA,Depress,Stim,Hallu,monthly_u,weekly_u,daily_u
ID,,,,,,,,,,,,,,,,,,,,,
2.0,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,-0.14277,...,CL0,CL4,CL0,CL0,0,1,0,1,0,0
3.0,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,...,CL1,CL0,CL0,CL0,0,0,0,0,0,0
4.0,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,0.58489,...,CL0,CL2,CL0,CL0,0,0,0,0,0,0
5.0,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,1.30612,...,CL2,CL2,CL0,CL0,0,0,0,0,0,0
6.0,2.59171,0.48246,-1.22751,0.24923,-0.31685,-0.67825,-0.30033,-1.55521,2.03972,1.63088,...,CL0,CL6,CL0,CL0,0,0,0,0,0,0

## Seperate Users based on Legal Drug Use
* Amphetamines, Benzodiazapines and Methadone are not considered in this analysis as these are drugs that could be prescribed,therefore hard to distinguish between necessities or drug abuse.
* Cannabis is included in the legal drug category as general public preception of cannabis has shifted greatly.
* The point of this comparison is to determine high risk taking behaviour.

Legal Drugs: Alcohol,Canab, Amyl,LegalH,Methadone,Nicotine 

Illegal Coke,Crack,Ecstasy,Heroin,Ket,LSD

In [50]:
usage = ["CL4","CL5","CL6"]
use=["CL0","CL1","CL2","CL3"] # Non-User threshold

legal = []
for a,c,am,lh,meth,nic,vs,c,cr,ec,her,ket,lsd in zip(df["Alcohol"],df["Canab"],df["Amyl"],df["LegalH"],df["Meth"],df["Nicotine"],df["VSA"],df["Coke"],df["Crack"],df["Ecstasy"],df["Heroin"],df["Ket"],df["LSD"]):
    if any([a in usage,c in usage,am in usage,lh in usage,meth in usage,nic in usage,vs in usage]) &all([c in use,cr in use,ec in use,her in use,ket in use,lsd in use]):
        legal.append(1)
    else:
        legal.append(0)

illegal = []

for c,cr,ec,her,ket,lsd in zip(df["Coke"],df["Crack"],df["Ecstasy"],df["Heroin"],df["Ket"],df["LSD"]):
    if any([c in usage,cr in usage,ec in usage,her in usage,ket in usage,lsd in usage]):
        illegal.append(1)
    else:
        illegal.append(0)
        

print(sum(legal))
print(sum(illegal))
js(legal,illegal)

1301
441

0.0

In [51]:
df["Legal"] = legal
df["Illegal"] = illegal
df.head()

,Age,Gender,Education,Country,Ethnicity,NScore,EScore,OScore,AScore,CScore,...,Semer,VSA,Depress,Stim,Hallu,monthly_u,weekly_u,daily_u,Legal,Illegal
ID,,,,,,,,,,,,,,,,,,,,,
2.0,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,-0.14277,...,CL0,CL0,0,1,0,1,0,0,0,1
3.0,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,...,CL0,CL0,0,0,0,0,0,0,1,0
4.0,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,0.58489,...,CL0,CL0,0,0,0,0,0,0,1,0
5.0,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,1.30612,...,CL0,CL0,0,0,0,0,0,0,1,0
6.0,2.59171,0.48246,-1.22751,0.24923,-0.31685,-0.67825,-0.30033,-1.55521,2.03972,1.63088,...,CL0,CL0,0,0,0,0,0,0,1,0

In [52]:
df.to_csv("drug_consumption.csv",index=True)